.form-container {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: flex-end;
  justify-content: center;
  background-color: #1F2937;
  padding: 24px;
 
  
  > .name {
    color: white;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    > input { 
      height: 40px;
      width: 250px;
      border-radius: 5px;
    }
  }

  > .quality {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Biryani;
    margin-right: 16px;

  > input {
    width: 80px;
    height: 40px;
    border-radius: 5px;
  }
}

 > .submit {
    height: 40px;
    width: 50px;
  }
}