.main-content {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - 120px);
  padding-top: 50px;

  > .table {
    border-collapse: collapse;
    text-align: left;
    width: 360px;
    height: 358px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    margin-right: 32px;

    > .body > .header > th {
      background: #F9FAFB;
      padding: 8px 16px;
      text-transform: uppercase;
      color: #6B7280;
      font-size: 12px;
    }

    > .body > .header > th:nth-child(1) {
       border-top-left-radius: 16px;
    }

    > .body > .header > th:nth-child(2) {
       border-top-right-radius: 16px;
       width: 20px;
    }

     > .body > .data > td {
      border-top: 1px solid #E5E7EB;
      padding: 8px 16px;
      font-size: 14px;
    }

    > .body > .data > .name {
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  > .chart {
    margin-left: 32px;
    height: 358px;
    width: 360px;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    font-size: 18px;
    font-weight: 600;
  }
}